@charset "UTF-8";
/* Primary Colors */
/* Neutral */
/* Topography */
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.google.com/specimen/Montserrat");
}
@font-face {
  font-family: "Fraunces";
  src: url("https://fonts.google.com/specimen/Fraunces");
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

:root {
  box-sizing: border-box;
  background-color: hsl(30, 38%, 92%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-color: inherit;
}

.border {
  border-radius: 5px 5px 5px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box1 > .product-image {
  display: block;
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 5px 4px 12px;
}

.box2 {
  display: block;
  width: 350px;
  height: 70vh;
  border-radius: 12px 5px 4px;
  background-color: hsl(0, 0%, 100%);
}
.box2 .header-text {
  margin-top: 1em;
  font-family: "Fraunces", serif;
  font-size: 1.125em;
  padding-left: 2.1em;
  font-weight: 100;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}
.box2 .heading-text {
  width: 250px;
  position: relative;
  top: -5;
  padding-left: 1em;
  word-spacing: 0;
  letter-spacing: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.1em;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  word-break: break-all;
  word-wrap: break-all;
}
.box2 .long-para {
  width: 280px;
  display: block;
  position: relative;
  top: -0.4em;
  padding-left: 35px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.9px;
  line-height: 2.1;
  font-weight: 500;
  word-break: break-all;
  word-wrap: break-word;
}
.box2 .price-container {
  display: inline-block;
  position: relative;
  top: -15px;
  padding-left: 2em;
}
.box2 .price-tag {
  display: inline-block;
  margin: 12px 0 30px 0;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
}
.box2 .deleted-price {
  display: inline-block;
  position: inherit;
  top: -0.41em;
  padding-left: 0.88em;
  font-family: "Fraunces", serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.box2 .layout {
  background-color: hsl(158, 36%, 37%);
  background-clip: padding-box;
  padding-top: 17px;
  padding-bottom: 15px;
  margin: 0 auto;
  width: 300px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  top: -30px;
  padding-left: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 16px;
}
.box2 .layout .icon-cart {
  display: block;
}
.box2 .layout > .cart-text {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=index.css.map */
